.navbar {
    top: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    display: flex;
    justify-content: space-around;
    padding: 16px;
    height: 100px;
    align-self: center;
    background: #fff;
    z-index: 999;
}

.nav-burger {
    display: flex;
    width: 100%;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.nav-logo a{
    text-decoration: none;
    color: inherit;
    font-size: 38px;
    font-weight: 600;
}

.nav-menu {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 50px;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 3px;
}

.nav-menu hr {
    border: none;
    width: 90%;
    height: 3px;
    border-radius: 10px;
    background: rgb(212, 212, 212);
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;
}

.btn {
    color: #090909;
    cursor: pointer;
    padding: 0.7em 1.7em;
    font-size: 18px;
    font-weight: 600;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s ease;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
   }
   
.btn:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
                inset -4px -4px 12px #ffffff;
}

.nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}

.burger {
    position: absolute;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: none;
}

.burger input {
    display: none;  
}

.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}